*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1440px;
}
body{
    font-family: 'Inter', sans-serif;
    background-image: url('./images/pattern-bg.svg');
    background-repeat: no-repeat;
}
.myslide{
    display: flex;
    flex-direction: row-reverse;
    background-position: right;
}
.personal-info{
    display: flex;
}
.btn{
    padding: 10px;
    border: none;
    border-radius: 100px;
}