@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
    --backgroundColor: #19a2ae; /*Background color*/
    --textColor: #2d3248; /*Text color*/
    --secondaryTextColor:#6a6f81; /*Secondary Text*/
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
}
body{
    background-color: var(--backgroundColor);
}
h2{
    font-size: 1rem;
    color: var(--textColor);

    
}
h3{
    font-size: 0.7rem;
    color: var(--secondaryTextColor);
    font-weight: lighter;
}
h4{
    
    font-size: 0.6rem;
    color: var(--secondaryTextColor);
    letter-spacing: 1px;
    font-weight: lighter;  
}
.container{
    max-width: 1440px;
}
.card{
    position: absolute;
    background-color: white;
    left: 545px;
    top: 173px;
    border-radius: 15px;
    max-width: 350px;
}
#profile-pic{
    position: absolute;
    border: 5px solid white;
    top: 95px;
    left: 126px;
    border-radius: 100%;
}
.card-body{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 75px;
}
.card-body_name{
    display: flex;
}
.card-body_town{
    display: block;
    padding-bottom: 30px;
    font-weight: 400;
}
.card-header img{
    object-fit: fill;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
}

/*#top{
    position: absolute;
    right: 748px;
    top: -200px;
}
#bottom{
    position: absolute;
    top: 350px;
    left: 748px;
}


.card-footer{
    display: flex;
    justify-content: space-around;
    padding-top: 28px;
    padding-bottom: 28px;
}
.line{
    background-color: #e7E7E7;
    height: 0.5px;
}
.footer-followers{

}*/
