@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
    --backgroundColor: #19a2ae; /*Background color*/
    --textColor: #2d3248; /*Text color*/
    --secondaryTextColor:#6a6f81; /*Secondary Text*/
  }

body{
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--backgroundColor);
}
h2{
    font-size: 1rem;
    color: var(--textColor);
}
h3{
    font-size: 0.7rem;
    color: var(--secondaryTextColor);
}
h4{
    font-size: 0.6rem;
    color: var(--secondaryTextColor);
}
.container{
    max-width: 1440px;
}
.card{
    background-color: white;
    border-radius: 15px;
    max-width: 350px;
}
#victor{
    position: absolute;
    border: 5px solid white;
    top: 95px;
    left: 126px;

    border-radius: 100%;
}
