@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
    --backgroundColor: #19a2ae; /*Background color*/
    --textColor: #2d3248; /*Text color*/
    --secondaryTextColor:#6a6f81; /*Secondary Text*/
  }

body{
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--backgroundColor);
}
.container{
    max-width: 1440px;
}