@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
    --backgroundViolet: #af67e9; /*Background violet*/
    --backgroundBlue: #6565e7; /*Background blue*/
    --textDarkBlue: #4a4b5e; /*Text dark blue*/
    --textDarGraykBlue: #6565e7; /*Text dark blue*/
    --textDesBlue: #1d1e35;
    --textSoftRed: #f47c57;
    --dividerGray: #e7e7e9; /*Divider*/
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
}
.container{
    max-width: 1440px;
    background-color: var(--backgroundViolet);
}
h1{
    font-size: 36px;
}
.girl-and-box{
    display: flex;
    flex-direction: row-reverse;
}
#box{
    position: absolute;
}
#pattern{
    position: absolute;
}
.box-wrapper{
    display: flex;
    background-color: white;
    max-width: 920px;
    border-radius: 20px;
}


