:root {
  --backgroundViolet: #af67e9; /*Background violet*/
  --backgroundBlue: #6565e7; /*Background blue*/
  --textDarkBlue: #4a4b5e; /*Text dark blue*/
  --textDarGraykBlue: #6565e7; /*Text dark blue*/
  --textDesBlue: #1d1e35;
  --textSoftRed: #f47c57;
  --dividerGray: #e7e7e9; /*Divider*/
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
}
h1{
    font-size: 3rem;
    font-weight: 700;
}
p{
    font-size: 1.16rem;
}
.container {
  max-width: 1440px;
  background-color: violet;
}
.box-wrapper {
  position: fixed;
  max-width: 64%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  display: flex;
}
.accordion {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: none;
    outline: none;
    padding: 20px auto 20px;
    background-color: white;
}
.accordion img{
    padding-right: 5px;
}

