    :root{
        --darkBlue:	#48556A; 
        --desBlue: #6D7F97;
        --grayishBlue: #9EAFC2;
        --lightBlue: #ECF2F8;
    }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    
}
body{
    background-color: var(--lightBlue);
}
h2{
    font-size: 1.54rem;
}
h5{
    font-size: 1rem;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--grayishBlue);
}
p{
    font-size: 1rem;
    color: var(--grayishBlue);
}
.container{
    max-width: 1440px;
    display: flex;
    align-items: center;
    padding-top: 200px;
    padding-left: 345px;
}
.content-box{
    max-width: 730px;
    display: flex;
    background-color: white;
    border-radius: 10px;
}
.showcase-img{
    max-width: 350px;
}
.right{
    background-color: white;
    
}
.user-box{
    display: flex;
}
.user-box .user{
    border-radius: 100%;
    width: 40px;
    height: 40px;
}
.user-info{
    display: flex;
    flex-direction: column;
}
.icon-box{
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--darkBlue);
    border-radius: 100%;
    width: 30px;
    height: 30px;
}
.icon-box img{
    position: relative;
    left: 8px;
}

