/*Primary*/

$veryDarkMagenta: #502050;
$softPink: #EE68A4;

/*Secondary*/
$grayishMagenta: #937B92;
$lightMagenta: #F7F2F7;
$justWhite: #FFFFFF;

/*Typography*/

h1{
    font-size: 3rem;
    font-weight: 700;
    color: $veryDarkMagenta;
    line-height: 50px;
}
h3{
    font-size: 0.87rem;
    font-weight: 400;
    color: $justWhite;
    line-height: 24px;
}
h4{
    font-size: 0.87rem;
    font-weight: 400;
    color: $softPink;
    line-height: 24px;
    letter-spacing: 0.5%;
}
p{
    font-size: 1rem;
    font-weight: 400;
    color: $veryDarkMagenta;
    line-height: 24px;
    letter-spacing: -3%;
}

*{
    font-size: 15px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
    
}
body{
    background-image: url('./images/bg-pattern-top-desktop.svg'), url('./images/bg-pattern-bottom-desktop.svg');
    background-repeat: no-repeat;
    width: 100%;
}
.container{
    max-width: 1440px;
    
    display: flex;
    flex-direction: column;
    
}
.top{
    display: flex;
    padding-top: 130px;
    padding-left: 165px;
    justify-content: space-between;
}
.heading-paragraph{
    width: 450px;
}
.heading-paragraph h1{
    padding-bottom: 12px;
}
.rates{
    display: flex;
    flex-direction: column;
    width: 555px;
}
.rate{
    display: flex;
    justify-content: space-between;
    background-color: $lightMagenta;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 19px 87px 16px 30px;
}
.stars{
    padding-right: 35px;
}
#1{
    margin-left: 18px;
}
#2{
    margin-left: 65px;
}
#3{
    margin-left: 112px;
}
.bottom{
    display: flex;
}
.testimonials{
    display: flex;
    padding-top: 60px;
    justify-content: space-between;
    padding-left: 165px;
}
.testimonial{
    background-color: $veryDarkMagenta;
    width: 350px;
    margin-right: 20px;
    padding: 46px 38px 38px 30px;
    border-radius: 8px;
}
.testimonial p{
    color: $justWhite;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -1%;
    padding-top: 29px;
}
.testimonial img{
    width: 41px;
    height: 41px;
    border-radius: 100%;
    margin-right: 30px;;
}
.personal-info{
    display: flex;
}